

* {
   
        font-family: "Merriweather", serif;
        font-weight: 300;
        font-style: normal;
      
}



.box-1 {
justify-content: center;
align-items: center;
display: grid;


}

.card {
    margin: 15px;
    box-shadow: 2px 3px 3px black;
}
.box-2 {
    justify-content: center;
    align-items: center;
    display: grid;
    box-shadow: #F7CA77;

    }

.box-3 {
        justify-content: center;
        align-items: center;
        display: grid;
}
   
.box-4 {
    justify-content: center;
    align-items: center;
    display: grid;
}

.navbar {
    background-color: #F7CA77;
    color: black;
    box-shadow: 2px 3px 3px black;
}

.cronometro {
    justify-content: center;
    align-items: center;
    display: grid;
    background-color: #1f1f1ffe;
    height: 133px;
    padding: 5px;
}

#txt {
    color: black;
}

.boxMain {
    background-color: #FCEEDC;
}
.card-body {
    background-color: #F7CA77;
}
.card-text {
    color: black;
}

#cardTitulo {
    color: black;
}


.box-playlists {
    justify-content: center;
    align-items: center;
    display: grid;
    background-color: rgb(14, 90, 73);
}
#box-playlistTxt {
    background-color: #a9e0c0;
    margin-top: 10px;
    margin-bottom: 15px;
    box-shadow: 2px 3px 3px black;
}

#msc {
    margin-top: 15px;
    margin-bottom: 15px;
}